*{
    margin: 0px;
    padding: 0px;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /*shared style*/
  .secendary-bg{
    background-color: #FFF8F3;
  }
.text-primary{
    color: rgb(29, 172, 65);
}
.dark-2{
    color:#474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.banner-pragraph{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
}
.text-alaingement{
    text-align: center;
}
.margin{
    margin: 30px;
}
.margin-resumi{
    margin-bottom: 50px;
}




/*header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* main styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
}


/*  nav style  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
}
.nev-title{
    font-size: 45px;
    font-weight:800px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner style*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-contant{
    max-width: 580px;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
}
.banner-photo{
    width: 584px;
    height: 676px;
}


/* main section */
.section-title{
    font-size: 35px;
    font-weight: 700px;
    color: #181818;
}
main section{
    margin-top: 100px;
    margin-top: 100px;
}



/*about style*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.item-description{
    font-weight: 600;

}
.about-items{
    display: flex;
    justify-content: space-around;
}

/*skill section*/
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: opx 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.ami{
    padding: 10px;
}
/* resumi style */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.resumi-download{
    text-align: center;
}

/*footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"]{
    height: 64px;
    width: 350px;
    border-radius: 5px;
    background-color: white;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}